[Desktop Entry]
Type=Application
Version=1.0
Name=FastPPCx86 Launcher
GenericName=x86 Game Launcher
Comment=Run x86 and x86-64 games on POWER through FastPPCx86
Exec=ppcx86-launch
Icon=ppcx86-launch
Terminal=false
Categories=Game;Emulator;
Keywords=x86;emulator;games;POWER;ppc64le;FEX;Proton;Wine;
StartupNotify=true
