pkgbase = fastppcx86
	pkgdesc = Fast x86 and x86-64 emulation for 64-bit POWER (FEX-Emu ppc64le port)
	pkgver = r14608.23f2884
	pkgrel = 1
	url = https://github.com/daedalao/fastppcx86
	install = fastppcx86.install
	arch = powerpc64le
	license = MIT
	makedepends = clang
	makedepends = cmake
	makedepends = gdb
	makedepends = git
	makedepends = lld
	makedepends = llvm
	makedepends = ninja
	makedepends = python
	makedepends = range-v3
	depends = gcc-libs
	depends = glibc
	depends = fmt
	depends = xxhash
	depends = qt6-base
	depends = qt6-declarative
	optdepends = squashfuse: mount squashfs x86-64 RootFS images
	optdepends = erofs-utils: mount EROFS x86-64 RootFS images
	optdepends = wget: used by FEXRootFSFetcher to download a RootFS
	optdepends = xz: RootFS extraction
	options = !lto
	source = fastppcx86::git+https://github.com/daedalao/fastppcx86.git
	source = drm-headers::git+https://github.com/FEX-Emu/drm-headers.git
	source = fmt::git+https://github.com/fmtlib/fmt.git
	source = xxhash::git+https://github.com/Cyan4973/xxHash.git
	source = range-v3::git+https://github.com/ericniebler/range-v3.git
	source = unordered_dense::git+https://github.com/martinus/unordered_dense.git
	source = jemalloc_glibc::git+https://github.com/FEX-Emu/jemalloc.git
	source = rpmalloc::git+https://github.com/FEX-Emu/rpmalloc.git
	source = cpp-optparse::git+https://github.com/Sonicadvance1/cpp-optparse.git
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = fastppcx86
